<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<header>
  <h1>Travlr Getaways</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>
</header>

<main>
  {{{body}}}
</main>

<footer>
  <p>© Travlr Getaways</p>
</footer>

</body>
</html>